body {
	background: #fafafa;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
}

.page-title {
	@apply(--paper-font-display2);
}

@media (max-width: 600px) {
	.page-title {
		font-size: 24px !important;
	}
}
